/** @type {import('next').NextConfig} */
const nextConfig = {
  reactStrictMode: true,
  swcMinify: true,
  env: {
    APPWRITE_ENDPOINT: "https://appwrite-backend.com/v1",
    APPWRITE_PROJECT: "projectId",
    APPWRITE_COLLECTION_ID: "collectionId",
    APPWRITE_DATABASE_ID: "databaseId"
  },
  images: {
    remotePatterns: [
      {
        protocol: 'https',
        hostname: 'appwrite-backend.com',
        port: '',
        pathname: '/**',
      },
    ],
  },
}

module.exports = nextConfig
